---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Tribo Araweté" description="Website acadêmico que mostre a tribo indígena Araweté.">
    <main>
        <div id="sections">
            <section>
                <img src="arawete_1.jpg" width="210" height="210" />
                <div>
                    <h2>Quem são?</h2>
                    <p>Os Araweté são um povo tupi-guarani de caçadores e agricultores da floresta de terra firme. "Estamos no meio", dizem os Araweté da humanidade. Habitamos a terra, este patamar intermediário entre os dois céus e o mundo subterrâneo, povoados pelos deuses que se exilaram no começo dos tempos. Os Araweté dizem viver agora "na beira da terra": sua tradição fala de sucessivos deslocamentos a partir de algum lugar a leste (o centro da terra), sempre em fuga diante de inimigos mais poderosos. Toda sua longa história de guerras, mortes e fugas, e a catástrofe demográfica do "contato", se não se apagam da memória araweté, nunca chegaram a diminuir seu ímpeto vital e alegria.</p>
                </div>
            </section>
            <section style="flex-direction: row-reverse">
                <img src="arawete_4.jpg" width="210" height="210" />
                <div>
                    <h2>Língua</h2>
                    <p>A língua araweté pertence à grande família Tupi-Guarani. É possível que os Araweté, como vários outros grupos tupi da região, sejam os descendentes da tribo dos Pacajás, objeto de intensa atividade missionária por parte dos jesuítas durante o século XVII. As crônicas missionárias registram que parte desse numeroso povo resistiu à catequese, retornando à floresta. Mas a língua araweté, se comparada às línguas faladas por seus vizinhos tupi-guarani mais próximos (os Asuriní do Koatinemo, os Parakanã, os Asuriní do Trocará, os Suruí, os Tapirapé), todas elas bastante semelhantes entre si, mostra-se bastante diferenciada. Isto sugere que a separação dos Araweté foi mais antiga, ou mesmo que eles podem ter vindo de outra região do Brasil, ainda há uma parte significativa da população araweté que não fala Português. E, dentre os falantes, a maioria não possui fluência o araweté não é uma língua simples de se aprender.</p>
                </div>
            </section>
            <section>
            <img src="arawete_9.jpg" width="210" height="210" />
                <div>
                    <h2>localização</h2>
                    <p>Os Araweté, em 2021, vivem em 23 aldeias na região do igarapé Ipixuna, afluente da margem direita do Médio Xingu. O Ipixuna é um rio de águas negras, encachoeirado, que corre em um leito rochoso na direção Sudeste/Noroeste.</p>
                </div>
            </section>
            <section style="flex-direction: row-reverse">
                <img src="arawete_8.jpg" width="210" height="210" />
                <div>
                    <h2>Histórico do contato</h2>
                    <p>Em meados da década de 60, os Araweté se deslocaram das cabeceiras do rio Bacajá, a sudeste, em direção ao Xingu, no Estado do Pará. Eles eram oficialmente desconhecidos até o começo da década de 1970. Seu 'contato' pela Funai data de 1976, quando buscaram as margens do Xingu fugindo do assédio dos Parakanã, outro grupo tupi-guarani. Embora fossem considerados, até o contato em 1976, como "índios isolados", o fato é que os Araweté conhecem o homem branco há muito tempo. Sua mitologia se refere aos brancos, e existe um espírito celeste chamado "Pajé dos Brancos"; eles utilizam há muito tempo machados e facões de ferro, que pegavam em roças abandonadas de moradores 'civilizados' da região; e sua tradição registra vários encontros, alguns amistosos, outros violentos, com grupos de kamarã na floresta.</p>
                </div>
            </section>
            <section style="align-items: start">
                <div style="min-width: 210px" id="imgs-two">
                    <br />
                    <img src="arawete_3.jpg" width="210" height="210" />
                    <br />
                    <img src="arawete_7.jpg" width="210" height="210" />
                </div>
                <div>
                    <h2>Cultura</h2>
                    <p>A música dos deuses é a área mais complexa da cultura Araweté. Única fonte de informação sobre o estado atual do cosmos e a situação dos mortos no céu, ela é o rito central da vida do grupo. "O pajé é como um rádio", os Araweté costumavam explicar. Os Arewete acreditam que quando um familiar pelo lado materno está doente, todos seus paretes devem se abidicar de comida e relações sexuais até o parente melhorar, afinal os Araweté entendem que existe um laço de substância entre os parentes, de tal forma que, se uma pessoa adoece, seus parentes próximos devem evitar praticar ações e ingerir alimentos que possam piorar seu estado. Os Araweté possuem uma cultura material bastante simples, dentro do horizonte tupi-guarani. Isso se pode explicar, em parte, pelo estado constante de alarme e fuga diante de inimigos a que esse povo esteve sujeito nas últimas décadas; e em parte, pelo trauma do 'contato'. Os homens araweté têm barba espessa, que costumam deixar crescer em cavanhaque; andavam nus, com apenas um cordão amarrando o prepúcio. As mulheres trazem um costume de quatro peças tubulares (cinta, saia, tipóia-blusa e um pano de cabeça), tecido de algodão nativo e tingido de urucum(fruta que produz pigmento vermelho). Eles são caçadores e agricultores, as mulheres cuidam das plantações, buscam lenha e colhem o que plantaram. Os homens saem para caçar, homens que ficaram na aldeia ajudam no serviço das plantações, ou trabalham na feitura e manutenção de suas armas, se alimentam basicamente de milho e carne.
                    </p>
                </div>
            </section>

            <div id="credits">
                <h2>Créditos</h2>
                <div id="images">
                    <div class="dev">
                        <img src="vitao.jpg" width="160" height="160" />
                        <p>Victor</p>
                    </div>
                    <div class="dev">
                        <img src="miguel.jpg" width="160" height="160" style="object-position: top"/>
                        <p>Miguel</p>
                    </div>
                    <div class="dev">
                        <img src="joao.jpg" width="160" height="160" style="object-position: top"/>
                        <p>João</p>
                    </div>
                    <div class="dev">
                        <img src="gustavo.jpg" width="160" height="160" style="object-position: top"/>
                        <p>Gustavo</p>
                    </div>
                </div>
            </div>
    </main>
</BaseLayout>
